{% include base_path %}

<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="57x57" href="{{ base_path }}/images/apple-touch-icon-57x57.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="60x60" href="{{ base_path }}/images/apple-touch-icon-60x60.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="72x72" href="{{ base_path }}/images/apple-touch-icon-72x72.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="76x76" href="{{ base_path }}/images/apple-touch-icon-76x76.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="114x114" href="{{ base_path }}/images/apple-touch-icon-114x114.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="120x120" href="{{ base_path }}/images/apple-touch-icon-120x120.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="144x144" href="{{ base_path }}/images/apple-touch-icon-144x144.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="152x152" href="{{ base_path }}/images/apple-touch-icon-152x152.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png?v=M44lzPylqQ">
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png?v=M44lzPylqQ" sizes="32x32">
<link rel="icon" type="image/png" href="{{ base_path }}/images/android-chrome-192x192.png?v=M44lzPylqQ" sizes="192x192">
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-96x96.png?v=M44lzPylqQ" sizes="96x96">
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-16x16.png?v=M44lzPylqQ" sizes="16x16">
<link rel="manifest" href="{{ base_path }}/images/manifest.json?v=M44lzPylqQ">
<link rel="mask-icon" href="{{ base_path }}/images/safari-pinned-tab.svg?v=M44lzPylqQ" color="#000000">
<link rel="shortcut icon" href="/images/favicon.ico?v=M44lzPylqQ">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="{{ base_path }}/images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="{{ base_path }}/images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<style>
  .paper {
    margin-bottom: 0.75em;
    padding-bottom: 0.75em;
    border-bottom: 0.5px dashed grey;
  }
  .paper p { margin-top: 0; margin-bottom: 2px; }
  .paper .title { margin-top: 0; margin-bottom: 2px; }
  .paper-buttons { margin-top: 5px; }

  ul.tab-nav {
    list-style: none;
    border-bottom: 1px solid #bbb;
    padding-left: 5px;
    padding-top: 9px;
    margin-bottom: 1.5em;
  }
  ul.tab-nav li { display: inline; margin-right: 7.5px; }
  ul.tab-nav li .button {
    display: inline-block;
    height: 34px;
    padding: 0 22px;
    font-size: 15px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.05em;
    color: #555;
    background-color: transparent;
    border: 1px solid #bbb;
    border-radius: 4px 4px 0 0;
    margin-bottom: -1px;
    text-decoration: none;
    cursor: pointer;
  }
  ul.tab-nav li .active.button {
    border-bottom: 1px solid #fff;
    color: #000;
    font-weight: 600;
    background-color: #fff;
  }
  .tab-content .tab-pane { display: none; }
  .tab-content .tab-pane.active { display: block; }
  .paper .button {
    display: inline-block;
    height: 25px;
    padding: 0 25px;
    font-size: 11px;
    font-weight: 100;
    line-height: 25px;
    letter-spacing: 0.1rem;
    color: #555;
    background-color: transparent;
    border: 1px solid #bbb;
    border-radius: 4px;
    text-decoration: none;
    white-space: nowrap;
    margin-bottom: 0;
  }
  .paper .button:hover,
  .paper .button:focus {
    color: #333;
    border-color: #888;
  }
</style>

<!-- end custom head snippets -->
